<!DOCTYPE html>
<html>
    <head>

        <title>View JSON feeds</title>

    </head>
    <body class="container">
        <h1>
            View JSON feeds
        </h1>
        <div>
            <h3>
                <a href="/api/countries" >Ten most populated countries</a>
            </h3>
        </div>
        <div>
            <h3>
                <a href="/api/capitals" >Canada capitals</a>
            </h3>
        </div>
